
.home {
    display: flex;
    width: 100%;
    align-items: center;

    ul {
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: space-around;

    }
}
